.capsule {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 100vw;
  height: 60px;
  background: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  padding-left: 0;
  display: flex;
  list-style: none outside none;
  justify-content: center;
  align-items: center;
}
li {
  padding: 0 50px;
}

 a {
  color: black;
  text-decoration: none;
}

.active {
  text-decoration: underline;
  font-weight: bold;
}

.cartitem {
  position: relative;
  float: right;
}
.cartcount {
  font-family: 'Barlow', sans-serif;
  position: absolute;
  background: #ff2211;
  color: white;
  text-align: center;
  padding-top: 4px;
  width: 20px;
  height: 20px;
  font-size: 10px;
  margin: -5px 0 0 20px;
  border-radius: 1000px;
  font-weight: 700;
}

html,
body {
  height: 100%;
  margin: 0;
}

.clear {
  clear: both;
}
/* sticky footer stuff */
.wrapper {
  min-height: 100vh;
  margin-bottom: -60px;
}
.footer,
.push {
  height: 50px;
  margin-top: 10px;
}

.masthead {
  max-width: 100%;
  height: auto;
  color: white;
  position: relative;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.sidearea {
  border-bottom: 1px solid #ccc;
}

aside {
  background: white;
  float: left;
  padding: 20px;
}


.callout {
  padding: 20px 0;
}

.item {
  border-radius: 5px;
  padding: 20px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  width: 75%;
}

.image {
  background: url(./images/ocean.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.padding {
  padding: 5% 10% 70% 10% ; 
}


button:hover {
  background: #3e64ea;
  color: white;
  transition: 0.2s all ease-in;
}

.max {
  font-size: 12px;
  float: right;
  color: #565656;
}
.min {
  float: left;
  font-size: 12px;
  color: #565656;
}